<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/register.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script defer type="text/javascript" src="/scripts/app.js"></script>
  <script src="https://kit.fontawesome.com/fbd5533038.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  <%- include('partials/_header') %>

  <h2>Home</h2>
  <!-- Create a resource post-->
  <section class="create-resource">
    <div class="card" style="width: 40rem;">
    <div class="card-body">
      <form method="POST" action="/" id ="">
        <select class="form-select" aria-label="Topics">
          <option selected>Topics</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
          <option value="3">Four</option>
          <option value="3">Five</option>
          <option value="3">Six</option>
          <option value="3">Seven</option>
        </select>
        <label for="title"></label>
        <input type="text" id="title" name="title" placeholder="Title">
        <textarea name="description" id="content" placeholder="What would you like to share?"></textarea>
        <input type="url" name="url" id="url" placeholder="https://example.com" pattern="https://.*"><br>
        <button class="btn btn-primary" type="submit" value="clear" onclick="">Post</button>
      </form>
    </div>
  </section>

  <h2>Posts</h2>
  <!-- Get Posts-->
  <% for (let resource of resources) { %>
  <section class="create-resource">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        <h5 class="card-title" id="topic"><%=resource.name%></h5>
        <h3 class="title"><%= resource.title %></h3>
        <p><%= resource.description %></p>
        <a href="<%= resource.url %>" target="_blank"><%= resource.url %></a>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-around">
            <a id="like-button"><%= resource.like_amount %> <i class="far fa-thumbs-up"></i> Like</a>
          <button class="save-button" data-id="<%= resource.resource_id %>"><i class="far fa-star"></i> Save</button>
          </li>
          <li class="list-group-item">
            <label for="customRange1" class="form-label"><%= resource.rating %>Rate</label>
            <input type="range" class="form-range" id="customRange1" min="0" max="5">
          </li>
        </ul>
        <div class="card-footer text-muted">
          <textarea name="content" id="content" placeholder="Write a comment"></textarea>
        <h5><%= resource.comment %></h5>
        <p>by <%= resource.user_name %></p>
        <p class="card-text"><small class="text-muted">Last updated 1 mins ago</small></p>
      </div>
    </div>
  </section>
  <% } %>
  <!-- jquery bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
